<h1>Você está logado!</h1>

<table>
    <% @users.each do |usuario| %>
        <tr>
            <td><%= usuario.name %></td>
            <td></td>
            <td></td>
            <td><%= usuario.email %></td>
        <tr>
    <% end %>
</table>

<%= link_to "Página do Usuário!", login_path %>