<p>
    <strong>Nome: </strong> 
    <%= @user.name %>
</p>
<p>
    <strong>E-mail: </strong> 
    <%= @user.email %>
</p>

<!--<% if(@user.id==current_user.id) %>
    <%= form_with(model: @post, local: true) do |form| %>

        <div class="field">
            <%= form.label :content, "Conteúdo: " %>
            <%= form.text_field :content %>
        </div>

        <div class="action">
            <%= form.submit "Postar!" %>
            <%= form.hidden_field :user_id, :value => @user.id%>
        </div>

    <% end %>
<% end %> -->

<table>
    <% if @posts %>
        <% @posts.each do |post| %>
            <% if post.user.id == @user.id %>
                <tr>
                    <td><%= post.Content %></td>
                <tr>
            <% end %>
        <% end %>
    <% end %>
</table>

<%= link_to "Usuários do site", users_path %>

