<h1>Pesquisa!</h1>

<%= form_tag users_path, method: :get do %>
    <p>
        <%= text_field_tag :search, params[:search] %>
        <%= button_tag "Search", name: nil %>
    </p>
<% end %>

<!--div id="names">
     render @users %>
div>-->